# Environment variables (SECRETS)
.env

# SQLite Database (Binary)
db/*.sqlite
*.sqlite

# Python Cache & Virtual Environments
__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db